
<div class ="description">
    <h3> Hall of Fame! </h3>


    Thank you to all of you who all want to make the waters of Berlin fresh and clean to
    swim in!
    <div class="list" >
        {{#signs}}
        <li><a href="https//:www.{{website}}" target="_blank">{{firstname}} {{surname}}</a> {{age}}  <a href="buddylist/{{city}}">{{city}}</a></li>
        {{/signs}}
    </div>
</div>
