
<div class ="description">

    <h3> {{city}} Hall of Fame! </h3>



    Thank you to all of you from {{city}} who want to make the waters of Berlin fresh and clean to
    swim in!
    <div class="list" >
{{#signs}}
        <li><a href="{{website}}" target="_blank">{{firstname}} {{surname}}</a> {{age}}  {{city}}</li>
        {{/signs}}
    </div>
</div>
