
<style>


html {
    background: url("/canalswimming.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;

}

.registermain{
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 15%;
    width: 40%;
    font-size: 16px;
    color: black;
    position: fixed;
    padding:10px;
}
.editProf{
    text-align: center;



}


label {

    text-align: center;
}




</style>



<div class="registermain">


    <h3 class="titleReg"> Edit your profile</h3>
    {{#user}}



    <form method="POST" class="editProf">
        <label>change first name</label>
        <input value="{{firstname}}" type="text" name="firstname">

        <label>change last name</label>
        <input value="{{surname}}" type="text" name="surname" >

        <label>change email</label>
        <input value="{{emailaddress}}" type="email" name="emailaddress">

        <label>enter new password</label>
        <input type="password" name="password">

        <label>change age</label>
        <input value="{{#if age}}{{age}}{{/if}}" type="number" name="age">

        <label>change city</label>
        <input value="{{#if city}}{{city}}{{/if}}" type="text" name="city" >

        <label>change your website</label>
        <input value="{{#if personalweb}}{{personalweb}}{{/if}}" type="text" name="personalweb" />

        {{/user}}


        <button class="profileSubmit" type="submit">UPDATE</button>

</form>





{{#if errorMessage}}

<p id="error">
    Error!
</p>
{{/if}}
</div>
